<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  
  
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Youtube Id</label>
    <%= f.text_field :url, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :lat %>
    <%= f.text_field :lat, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :lon %>
    <%= f.text_field :lon, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :view %>
    <%= f.text_field :view, class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-primary"%>
  
  
  <!-- <div class="field">
    <%= f.label "Youtube id" %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lon %><br>
    <%= f.text_field :lon %>
  </div>
  <div class="field">
    <%= f.label :view %><br>
    <%= f.number_field :view %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div> -->
<% end %>
