 <script type='text/javascript'>
  window.realtime = {};
  window.realtime.messageQueue = [];
  window.realtime.enabled = false;
</script>


<script>

initSocket = function(){
  if (typeof io != 'undefined' && io != null) {
    window.realtime.token = '<%=@realtime_token%>';
    window.realtime.userId = '<%= @realtime_user_id %>';
    window.realtime.socketIo = io.connect('<%= @realtime_server_url %>/?_rtUserId=<%= @realtime_user_id %>&_rtToken=<%=@realtime_token%>');
  }
  
  if (window.realtime.socketIo) {
  
    window.realtime.enabled = true;
  
    window.realtime.socketIo.on('connect', function() {
      // Give a nice round-trip ACK to our realtime server that we connected.
        window.realtime.socketIo.emit('realtime_user_id_connected', { userId: window.realtime.userId, currentVideoId:<%= @video.id %> });
      });
  
    // Queue up all incoming realtime messages.
      window.realtime.socketIo.on('realtime_msg', function(message) {
        window.realtime.messageQueue.push(message);
    });
  }
  
  console.log(window)
  // optional: message_handler dequeues realtime messages into Backbone.js style events
  if (window.realtime.enabled) {
    window.realtime.eventBus = _.extend({}, Backbone.Events);
  
    messageQueueRunner = function() {
      message = window.realtime.messageQueue.shift();
      if (message) {
        window.realtime.eventBus.trigger('realtimeMessage', message);
      }
    };
    setInterval(messageQueueRunner, 100);
  }

}
</script>