<h2 class="resource-header">Editing Video</h2>

<div class="col-xs-12">
  <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4"></div>
  
  <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">
    <div class="panel panel-default">
      
      <div class="panel-heading">
        <h3 class="panel-title">Update Video</h3>
      </div>
      
      <div class="panel-body">
        <%= render 'form' %>
      </div>
      
    </div>
  </div>
  
  <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4"></div>
</div>

<div style="clear: both"></div>
<hr/>
<div class="col-xs-12">
  <%= link_to 'Show', @video, class: "btn btn-primary" %> 
  <%= link_to 'Back', videos_path, class: "btn btn-warning" %>
</div>
