<p id="notice"><%= notice %></p>

<h2 class="resource-header">Listing Videos</h2>
<div class="col-xs-12">
	<div class="col-xs-0 col-sm-1 col-md-2 col-lg-2">
	</div>
	<div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
		<table class="table table-striped table-hover">
		  <thead>
		    <tr>
			  <th>#</th>
		      <th>Name</th>
		      <th>Url</th>
		      <th>Lat</th>
		      <th>Lon</th>
		      <th colspan="2">View</th>
		    </tr>
		  </thead>
		
		  <tbody>
		    <% @videos.each_with_index do |video, index| %>
		      <tr>
		      	<td><%= index + 1 %></td>
		        <td><%= video.name %></td>
		        <td><%= video.url %></td>
		        <td><%= video.lat %></td>
		        <td><%= video.lon %></td>
		        <td><%= video.view %></td>
		        <td style="text-align: center;">
		        	<%= link_to 'Show', video, {class: "btn btn-info btn-xs", style: "text-decoration : none;"} %>
			        <%= link_to 'Edit', edit_video_path(video), {class: "btn btn-success btn-xs", style: "text-decoration : none;"} %>
			        <%= link_to "Map", "/videos/map?id=" + video.id.to_s, {class: "btn btn-primary btn-xs", style: "text-decoration : none;"} %>
			        <%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs", style: "text-decoration : none;" %>
		        </td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
		<%= link_to 'New Video', new_video_path , class: "btn btn-default", style: "float: right;" %>
	</div>
	<div class="col-xs-0 col-sm-1 col-md-2 col-lg-2">
	</div>
</div>
<br>

