
<head>
 


<script src="<%= @realtime_server_url %>/socket.io/socket.io.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>

 
<%= render 'init_socket' %>




</head>

<h2 class="resource-header">Map for video <%= @video.name %></h2>

<div class="col-xs-12">
  <div id="multi_markers" style='width: 100%; height: 600px;'></div>
</div>



<div style="clear:both;"></div>
<hr/>

<div class="col-xs-12">
  <%= link_to 'Back', videos_path, class: "btn btn-warning" %>
</div>



<script type='text/javascript'>
  
  $( document ).ready(function() {
    initSocket();   
      
    if (window.realtime.enabled && window.realtime.eventBus){
        // handle events in the queue with eventing
      var realtimeMessageEventConsoleLogger = function(message) {
        console.log(message);
        if(message.msg == "video_views_increase"){          
            markers = handler.addMarkers([{"lat": parseFloat(message.lat),"lng":parseFloat(message.lon)}]);
          }
      };
      window.realtime.eventBus.on('realtimeMessage', realtimeMessageEventConsoleLogger);
    
    } else if (window.realtime.enabled) {
      // handle events in the queue without eventing
      messageQueueConsoleLogger = function() {
        message = window.realtime.messageQueue.shift();
        if (message) {
          console.log(message);
        }
      };
      setInterval(messageQueueConsoleLogger, 100);
    
    } else {
      console.log('Error: Realtime was not enabled.');
      alert("Can't create socket... Please Refresh.")
    }
  });

  handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
  var markers = handler.addMarkers([
    {
      lat: <%= @video.lat %>,
      lng: <%= @video.lat %>,
      picture: {
        url: "http://m.f29.img.vnecdn.net/2015/07/11/tham-an-Binh-Phuoc-8-7220-1436594654.jpg", // should change to others image url
        width:  36,
        height: 36
      },
      infowindow: "Uploader!"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(2);
});






</script>