<head>
  <!-- required: realtime support framework -->

<script src="<%= @realtime_server_url %>/socket.io/socket.io.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>

<%= render "init_socket"%>
<%= 
  #javascript_include_tag "messages"
%>
</head>


<div class="col-xs-12">
  <h3 class="resource-header"> Video Detail: <%= @video.name %></h3>
</div>
<div class="col-xs-12">
  <p id="notice" style="margin-left: 40px;"><%= notice %></p>
</div>
<div class="col-xs-12">	
	
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-5">
	  <table class="table table-hover">
	    <tr>
        <td>Name: </td>
        <td><%= @video.name %></td>
      </tr>
      
       <tr>
        <td>Youtube Id: </td>
        <td><%= @video.url %></td>
      </tr>
      
       <tr>
        <td>Location: </td>
        <td><%= @video.lat.to_s + "/" + @video.lon.to_s %></td>
      </tr>
      
       <tr id="video-view-block">
        <td>View: </td>
        <td id="video-views"><%= @video.view %></td>
      </tr>
      
       <tr id="video-unique-view-block">
        <td>Unique View: </td>
        <td id="video-unique-views" ><%= @video.unique_view || 1 %></td>
      </tr>
	  </table>
	  
	</div>
	
	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 text-center">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/<%=  @video.url %>" frameborder="0" allowfullscreen></iframe>
	</div>	
</div>

<div style="clear:both;"></div>
<hr/>

<div class="col-xs-12">
  <%= link_to 'Edit', edit_video_path(@video), class: "btn btn-primary" %> 
  <%= link_to 'Back', videos_path, class: "btn btn-warning" %>
</div>


<br/>

