<!DOCTYPE html>
<html>
<head>
  <title>Test1GeoSockUpdate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<h1 style="color: grey;"> Chat Application </h1>
<hr>
<%= yield %>

</body>
</html>
