// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* The blink animation code
 * This animation will be active when new viewer come */

@keyframes blink {
    from {background-color: white;}
    to {background-color: rgb(102, 153, 255);}
}

/* The element to apply the animation to */
.blink-it {
    animation-name: blink;
    animation-duration: 0.5s;
}