<!-- This file contain html code to generate chat element and function to do that -->



<!-- This is chat container -->

<div class="header" style="width:500px;">Conversation</div>
<div id="chat-container" class="container" style="width: 500px;">
  
  <div class="Area">
    <div class="L">
      <a href="https://twitter.com/SamiMassadeh">
        <img src="http://st-listas.20minutos.es/images/2013-12/373879/4273642_640px.jpg?1387120646"/>
      </a>
      <span style="font-size: xx-small; text-align: center; color:Green;"> Admin </span>
    </div>
    <div class="text R textR">XSS <b>MAYBE</b> still here ... it's not safe to go
    </div>
  </div>
</div>

  
<div class="Area" style="width:500px;">
  <div class="L">
      <a href="https://twitter.com/SamiMassadeh">
        <img src="http://www.hercampus.com/sites/default/files/2015/01/18/rdj-sma-07nov14.jpg"/>
      </a>
  </div>
  <input id="my-fucking-input" style="width:80% !important; min-width: 60%;"/>
  <br/><br/>
  <input type="button" id="send-it" value="SEND" style="float:right;"/>
  
  <br /><br />
  <p style="font-size: x-small; color: rgb(130, 130, 208);">*tip: you can drop a file to conversation area to share with chatmate</p>
  <div id="upload-progress-container" style="display:none">
    
  </div>
</div>


<!-- End chat container -->


<!-- Chat Pattern. These patterns will be used for generate elements of chat container -->

<!-- Chat Block include avatar -->
<script type="text/tcl" id="chat-area-pattern">
  <div class="Area">
    <div class="{##L_OR_R##}">
      <a href="{##siteUrl##}">
        <img src="{##avatarUrl##}"/>
      </a>
      <span style="font-size: xx-small; text-align: center; color:Green;"> {##name##} </span>
    </div>
    <div class="text R textR"> 
      {##content##}
    </div>
  </div>
</script>
<!-- end of chat block -->

<!-- Progress bar... This will appear when we upload a file -->
<script type="text/tcl" id="upload-progress-pattern">
  <div class="progress col-xs-7" id="{##id##}" style="margin-top: 25px;">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
    </div>
  </div>
</script>
<!-- end of progressbar -->

<!-- End of Pattern -->



<script>
  // Ultility Function
  // create progress bar when a file drop to chat container
  function createProgressBar(id){
    var pattern = $("#upload-progress-pattern").html();
    pattern = pattern.replace("{##id##}", id);
    return pattern
  }
  
  // update progressbar every tick time.
  function updateProgressBar(id, percents, bytes){
    $("#" + id + " .progress-bar").attr("aria-valuenow", percents);
    $("#" + id + " .progress-bar").css("width", percents + "%");
  }
  
  // turn progressbar to the air
  function completeProgressBar(id){
    $("#" + id ).html("Done");
    $("#" + id ).removeClass("progress");

  }
  
  // Generate a block of chat... You can choose which side of block by L_O_R (mean Left or Right)
  function createChatBlock(L_OR_R, name, content, avatarUrl, siteUrl){
    var pattern = $("#chat-area-pattern").html();
    pattern = pattern.replace("{##L_OR_R##}", L_OR_R);
    pattern = pattern.replace("{##siteUrl##}", siteUrl);
    pattern = pattern.replace("{##avatarUrl##}", avatarUrl);
    pattern = pattern.replace("{##name##}", name);
    pattern = pattern.replace("{##content##}", content);
    return pattern
  }
  
  
  // Event hanlder
  // Publish a chat message... This function will collect information from HTML Element.
  function enterChat (){
    var chatContent = $("#my-fucking-input")[0].value;
    if( chatContent.trim().length < 1)
      return 0;
    $("#my-fucking-input")[0].value = "";
    publishMessage(chatContent);
  }
  
  // Event of Send Button
  $("#send-it").click(function(){
    enterChat();  
  });
  
  // If chatter press enter (keycode 13) we will delevery their message
  $("#my-fucking-input").keypress(function (e) {
    if (e.which == '13') { // Press Enter
        enterChat();
    }
  });
  
</script>