<%= javascript_include_tag "//" +  @domain + ":9292/faye.js" %>
<script>
  chatChannel = '<%= @uniqueRoomAddr %>'; 
</script>

<!-- Chat UI from http://www.bypeople.com/css-chat/ -->

<!-- .................................... -->
<!-- TRASH TALK -->
<!-- .................................... -->

<!-- javascript_include_tag "chats.js" not work with me :( so still full of shit here. -->


<div class="welcome-block">
  <div id="chat_room">
    <div class="col-xs-0 col-lg-4 col-md-4 col-sm-3"></div>
    <div class="alert bg-info col-xs-12 col-lg-4 col-md-4 col-sm-6"> Welcome to the chat room <%= session[:username] %>! you're chatting in <%= @roomName %></div>
    <div class="col-xs-0 col-lg-4 col-md-4 col-sm-3"></div>
  </div>
</div>
<div style="clear:both"></div>

<hr style="width:30%"/>


<!-- This partial contain element to create a chat conversation and some ultility function -->
<%= render "chat_module"%>


<!-- This block process for Socket listener and regist a drag + drop area. -->
<!-- The logic code can be different by each view... So just define your logic here... -->

<script>
    // publishMessage !! You can custom it by each view... The chat_pattern partial will use this function.
    function publishMessage(chatContent){
      client.publish(chatChannel, {
        username: '<%= session[:username] %>',
        msg: chatContent
      });
    };
    
    // Simple firewall ... Return true if save else false
    function simpleFirewall(chatContent){
      // We just check if it contain a <script tag in content or not
      if(chatContent.toLowerCase().indexOf("<script") !== -1){
        return false;
      }
      return true;
    }
    
    $(function() {
      // Create a new client to connect to Faye
      client = new Faye.Client('//<%= @domain %>:9292/faye');
    
      // Subscribe to the public channel.. ChatChannel is global defined. 
      var public_subscription = client.subscribe(chatChannel, function(data) {
        // Check if content harmful?
        if(!simpleFirewall(data.msg)){ // Not safe for walk
          data.msg = "[BLOCK]<br/>*This content is not safe!!!";
        }
        
        // will we show it on left or right, if owner? make it left.
        var leftOrRight = data.username === '<%= session[:username] %>' ? "L" : "R";
        
        // Check is it a media content? The tag [##media##] will include in start of message if that is a media type... 
        // After that is media url
        if(data.msg.substr(0,11) ==="[##media##]"){
          //which type of media?! In simple version... we just detect it by ext.
          url = data.msg.replace("[##media##]", "");
          nameElement = data.msg.split(".");
          ext = nameElement[nameElement.length - 1].toLowerCase();
          
          imgExt = ["jpg", "jpeg", "gif", "bmp", "png"];
          videoExt = ["mp4", "ogg", "webm", "mp3"];
          
          if(imgExt.indexOf(ext) != -1){    // If it's a image just show it.
            data.msg = '<a href="' + url + '" target="_blank" ><img src="' + url +  '" style="width: 300px; height:auto; border-radius: 10%;" /> </a>';
          } else if (videoExt.indexOf(ext) != -1){  // if video... We will use default video player of browser (HTML5)
            data.msg = '<video width="320" controls> <source src="' + url + '" type="video/' + ext + '"/> </video>';
          } else { // All others case we will leave them a link to attachment.
            data.msg = '<a href="' + url + '" target="_blank" >Attachment </a>';
          }
        }
        
        var chatHtmlBlock = createChatBlock(leftOrRight, data.username, data.msg, "http://www.hercampus.com/sites/default/files/2015/01/18/rdj-sma-07nov14.jpg", "http://google.com");
        $("#chat-container").append($(chatHtmlBlock));
        $('#chat-container').animate({scrollTop: $('#chat-container').get(0).scrollHeight}, 1000); 
      
      });      
      
      // This will make a dropzone in chat area.
      var myDropzone = new Dropzone("#chat-container", {  url: "/media_contents",
                                                          previewsContainer: "#upload-progress-container",
                                                          clickable: false});


      myDropzone.on("addedfile", function(file){
        // We will use lastModified + size of file as id
        var chatHtmlBlock = createChatBlock("L", "me", "<span id='uploading-" + file.lastModified + file.size + "'><span class='upload-thumbnail col-xs-5'></span> " + 
                            "<span>" + createProgressBar(file.lastModified + file.size) +"</span></span>", 
                            "http://www.hercampus.com/sites/default/files/2015/01/18/rdj-sma-07nov14.jpg", 
                            "http://umbala.co");
                            
        $("#chat-container").append($(chatHtmlBlock));
        $('#chat-container').animate({scrollTop: $('#chat-container').get(0).scrollHeight}, 1000);
        
      });
      
      // When thumbnail is generated, just add it... if thumbnail not available ... do nothing.
      myDropzone.on("thumbnail", function(file, thumbnailUrl){
        thumbnailImg = $("<img src='" + thumbnailUrl + "' style='width:75px; height:75px;' />");
        $("#uploading-" + file.lastModified + file.size + " .upload-thumbnail").append(thumbnailImg);
        
      });
      
      // We will update every time receive a tick of this event
      myDropzone.on("uploadprogress", function(file, progress, bytesSent){
        updateProgressBar(file.lastModified + file.size, progress, bytesSent);
        if(progress >= 100){
          completeProgressBar(file.lastModified + file.size);
        }
      });
      
      // When success, server will response a JSON that contain Url of uploaded file... We will post it again...
      // In this case... Server just provide a storage host. We have to do almost things in client.
      // ["##media##"] tag from start to notice others client how to treat with it
      myDropzone.on("success", function(file, response){
        if(response.id != undefined){
          var url = response.file_name.url;
          client.publish(chatChannel, {
            username: '<%= session[:username] %>',
            msg: "[##media##]" + url
          });
        }
      });
      
    });
</script>

<div style="clear:both"></div>
<hr style="width:30%"/>

<!-- This code will genrate chatmate picker -->

<div class="col-xs-0 col-lg-4 col-md-3 col-sm-3"></div>
<div class="col-xs-12 col-lg-4 col-md-6 col-sm-6">
  <%= render :partial => "/sessions/chatmate_picker" %>
</div>
<div class="col-xs-0 col-lg-4 col-md-3 col-sm-3"></div>

