<div class="panel panel-default">
    <div class="panel-heading">Pick your chatmate</div>

    <div class="panel-body">
      <%= form_tag "/chatroom" do |f| %>
        <%= label_tag "Chatmate nick" %>
        <%= text_field_tag "nickname", "", class: "form-control", style: "max-width:400px;", placeholder:"put your chatmate's name here" %>
        <br />
        <%= submit_tag " Go!", class: "btn btn-primary" %>
      <%end%>
  
    </div>
  </div>