<h2 class="resource-header"> Welcome <%= session[:username]%></h2>

<br /><br />
<div class="col-xs-0 col-lg-4 col-md-2 col-sm-2"></div>
<div class="col-xs-12 col-lg-4 col-md-8 col-sm-8">
  
  <%= render "chatmate_picker"%>

</div>
<div class="col-xs-0 col-lg-4 col-md-2 col-sm-2"></div>

<div style="clear:both;"></div>

<h3 style="text-align: center;"> <a href="/chatroom"> Click here to access public chatroom </a></h3>
