<%= javascript_include_tag "scaffolds", "data-turbolinks-track" => true %>


<div class="col-lg-4 col-md-3 col-sm-3 col-xs-0"></div>
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      Pick your name and go!!!
    </div>
    <div class="panel-body">
      <%= form_tag login_path do |f| %>
        <%= label_tag :username %>
        <%= text_field_tag :username, "", placeholder: "put your nick  here", class: "form-control", style: "max-width:400px;"%>
        <br />
        <%= submit_tag "Enter", class: "btn btn-primary" %>
      <%end%>
    </div>
  </div>
</div>
<div class="col-lg-4 col-md-3 col-sm-3 col-xs-0"></div>
