<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div>  
<%end%>

<br />

<%= link_to "New Resume", new_resume_path, class: "btn btn-primary"%>
<br />
<br />

<form action="/media_contents" class="dropzone">
  <div class="fallback">
    <input name="name" type="hidden" value="This auto upload">
    <input name="file" type="file" />
  </div>
</form>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Download Link</th>
      <th>&nbsp</th>
    </tr>
  </thead>
  
  <tbody>
    
    <% @resumes.each do |resume| %>
    <tr>
      <td><%= resume.name%></td>
      <td><%= link_to "Download Resume", resume.attachment_url%></td>
      <td><%= button_to "Delete", resume, method: :delete, class: "btn btn-danger", confirm: "Are you wanna do that ?"%></td>
    </tr>
    <% end %>
    
  </tbody>
  
</table>
