<% if !@resume.errors.empty? %>
  
  <div class="alert alert-error">
    <ul>
      <% @resume.errors.full_messages.each do |messge| %>
        <li> <% message %> </li>
      <% end %>
    </ul>
  </div>
  
<% end  %>


<div class="well">
  
  <%= form_for @resume, html: {multipart: true} do |f |%>
    
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :attachment%>
    <%= f.file_field :attachment%>
    
    <%= f.submit "Save", class: "btn btn-primary"%>
    
  <%end%>
  
</div>
