<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :from %>
    <%= f.text_field :from, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :to %>
    <%= f.text_field :to, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_field :content, class: "form-control" %>
  </div>
  
  
  <div class="actions">
    <%= f.submit  class: "btn btn-primary" %>
  </div>
<% end %>
