<!-- <p id="notice"><%= notice %></p>

<h1>Listing Messages</h1>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Content</th>
      <th>Expired</th>
      <th>Read</th>
      <th>Reply</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.from %></td>
        <td><%= message.to %></td>
        <td><%= message.content %></td>
        <td><%= message.expired %></td>
        <td><%= message.read %></td>
        <td><%= message.reply %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %> -->

<p id="notice"><%= notice %></p>

<h2 class="resource-header">Listing Message</h2>
<div class="col-xs-12">
  <div class="col-xs-0 col-sm-1 col-md-2 col-lg-2">
  </div>
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#Id</th>
          <th>From</th>
          <th>To</th>
          <th>Content</th>
          <th>Expired</th>
          <th>Read</th>
          <th>Reply</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
      <% @messages.each do |message| %>
          <tr>
            <td><%= message.id %></td>
            <td><%= message.from %></td>
            <td><%= message.to %></td>
            <td><%= message.content %></td>
            <td><%= message.expired %></td>
            <td><%= message.read %></td>
            <td><%= message.reply %></td>
            <td style="text-align: center;">
              <%= link_to 'Show', message, {class: "btn btn-info btn-xs", style: "text-decoration : none;"} %>
              <%= link_to 'Read', "/messages/read/" + message.id.to_s, {class: "btn btn-success btn-xs", style: "text-decoration : none;"} %>
              <%= link_to 'Edit', edit_message_path(message), {class: "btn btn-success btn-xs", style: "text-decoration : none;"} %>
              <%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs", style: "text-decoration : none;" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Message', new_message_path , class: "btn btn-default", style: "float: right;" %>
  </div>
  <div class="col-xs-0 col-sm-1 col-md-2 col-lg-2">
  </div>
</div>
<br>