<div class="col-xs-12">
  <h3 class="resource-header"> Message #<%= @message.id %></h3>
</div>
<div class="col-xs-12">
  <p id="notice" style="margin-left: 40px;"><%= notice %></p>
</div>
<div class="col-xs-12"> 
  <div class="col-xs-0 col-sm-4 col-md-4 col-lg-4"> </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <table class="table table-hover">
      <tr>
        <td>From: </td>
        <td><%= @message.from %></td>
      </tr>
      
       <tr>
        <td>To: </td>
        <td><%= @message.to %></td>
      </tr>
      
       <tr>
        <td>Content: </td>
        <td><%= @message.content %></td>
      </tr>
      
      <tr>
        <td>Expired </td>
        <td><%= @message.expired.to_s %></td>
      </tr>
      
      <tr>
        <td>Read?: </td>
        <td><%= @message.read %></td>
      </tr>
      
      <tr>
        <td>Reply: </td>
        <td><%= @message.reply %></td>
      </tr>
      
    </table>
    
  </div>
  <div class="col-xs-0 col-sm-4 col-md-4 col-lg-4"> </div>

</div>

<div style="clear:both;"></div>
<hr/>

<div class="col-xs-12">
  <%= link_to 'Edit', edit_message_path(@message), class: "btn btn-primary" %> 
  <%= link_to 'Back', messages_path, class: "btn btn-warning" %>
</div>


<br/>

